<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.09037" />
  </startup>
  <connectionStrings>
    <add name="Smrmail" connectionString="Data Source=IDEAPADS145\SQLDEVELOP;Initial Catalog=SMRMail;Integrated Security=true;" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <appSettings>
    
  </appSettings>
</configuration>